name: 13 - Using Caching
on:
    workflow_dispatch:
        inputs:
            use-cache:
                type: boolean
                default: true
                description: Whether to execute cache step

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: 13-caching/react-app
        steps:
            - name: Checkout code
              uses: actions/checkout@v5.0.0
            - name: Setup Node
              with:
                node-version: 20.x
              uses: actions/setup-node@v6.0.0

            - name: Install dependencies
              run: npm ci
            - name: Building
              run: npm run build
            - name: Deploying to nonprod
              run: "Deploying to nonprod"
